#selectDebt {
    display: block;
    text-align: center;
}

#incomeInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mint {
    width: 30%;
    display: inline-block;
    margin-left: 5%
}

#billguard {
    width: 30%;
    margin-right: 8%;
    display: inline-block;
    float: right;
}

@media (max-width: 767px) {
    .buttonz {
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
        margin-top: -20px;
    }
}