#selectNeeds {
    display: block;
    margin-left: -20px !important;
    padding-right: 10px;
}

.answerTitle {
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}

.pros {
}

.cons {
}

.buttonz {
    font-size: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto
}